.headerContainer {
  display: flex;
  background-color: rgb(14, 17, 19);
  justify-content: space-between;
  width: 100%;
  padding: 14px 24px;
  z-index: 9;
  border-bottom: 1px solid rgb(183, 202, 212);
  position: fixed;

  .header-left-section {
    .header-logo {
      color: #B13BFF;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0%;
      margin: 0;
    }
  }

  .header-right-section {
    display: flex;
    align-items: center;
    gap: 12px;

    .wrapper {
      width: 36px;
      border-radius: 50%;
      height: 36px;
      cursor: pointer;
      position: relative;

      svg {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        border-radius: 50%;
      }

      svg:hover {
        background-color: rgba(131, 129, 129, 0.259);
        transition: 0.25s;
      }

      .notification-dropdown {
        position: absolute;
        top: 38px;
        right: 0;
        width: 300px;
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgb(14, 17, 19);
        border: 1px solid #B13BFF;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgb(142, 141, 141);
        z-index: 100;
        padding: 10px;
      }

      .notification-item {
        padding: 8px;
        text-wrap: nowrap;

        p {
          margin: 0;
          color: #ffffff;
        }
      }

      .notification-item.unread {
        background: #f9f5ff;
        font-weight: 600;
      }

      .notification-item.read {
        color: #555;
      }

      .notification-item .time {
        font-size: 12px;
        color: gray;
      }
    }

    .profile {
      position: relative;

      .profile-dropdown {
        position: absolute;
        background-color: rgb(14, 17, 19);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        border: 1px solid #B13BFF;
        box-shadow: 0 4px 8px rgb(142, 141, 141);
        width: 180px;
        right: 0;
        top: 38px;
        padding: 12px 8px;

        p {
          color: #ffffff;
          padding: 4px 8px;
          margin: 0;
          border-radius: 8px;
        }

        p:hover {
          background-color: rgba(131, 129, 129, 0.259);
          color: #ffffff;
        }
      }
    }
  }
}