.postsContainer {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  position: relative;
  padding-top: 20px;
  padding-top: 100px;

  .controls {
    width: 68%;
    display: flex;
    gap: 12px;
    justify-content: flex-end;

    .searchInput,
    .filterDropdown {
      border-radius: 8px;
      border: 1px solid #B13BFF;
      color: #ffffff;
      padding: 4px 8px;
      background-color: rgb(14, 17, 19);

      option {
        border: 8px;
      }
    }

    .searchInput:focus,
    .filterDropdown:focus {
      outline: none;
    }
  }

  .askQuestionButton {
    position: fixed;
    background-color: #B13BFF;
    border-radius: 12px;
    display: flex;
    align-items: center;
    right: 14px;
    top: 86%;
    padding: 8px 12px;
    cursor: pointer;

    p {
      margin: 0;
      color: #ffffff;
    }
  }

  .askQuestionButton:hover {
    transform: scale(1.04);
    transition: 0.25s;
  }
}